<html layout:decorator="layout/base">
	<section layout:fragment="content">		


<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">person</i>Users</div>
      <div class="collapsible-body">    
	      <ul th:if="${! #sets.isEmpty(users)}" class="collapsible popout" data-collapsible="accordion">
			<li th:each="u : ${users}">
		      <div th:text="| ${u.username} ${u.role} |" class="collapsible-header"></div>
		      <div class="collapsible-body"><span>
		      	<a class="btn red" th:href="@{/admin/reset_pass_user/{id}(id=${u.id})}">reset password</a>
		      	<a class="btn red" th:href="@{/admin/delete_user/{id}(id=${u.id})}">delete</a>
		      	</span></div>
		    </li>
		    <li>
		   	 	<div class="collapsible-header"><i class="material-icons">add</i>Add new</div>
		      	<div class="collapsible-body"><span>
		      		<form  action="#" th:action="@{/admin/createuser}" th:object="${user}" method="post">
			      		<div><input type="text" th:field="*{username}"  placeholder="email" /></div>
			      		<div><input class="btn red" type="submit" value="Submit" /></div>
		      		</form>
		      	</span></div>
		    </li>
		</ul>
      </div>
    </li>

 	<li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Services</div>
      <div class="collapsible-body">
      	<ul th:if="${! #sets.isEmpty(service_types)}" class="collapsible popout" data-collapsible="accordion">
			<li th:each="t : ${service_types}">
      			<div th:text="| ${t.name} ${t.duration} |" class="collapsible-header"></div>
			    <div class="collapsible-body"><span>
			      	<a class="btn red" th:href="@{/admin/edit_service_type/{id}(id=${t.id})}">edit</a>
			      	<a class="btn red" th:href="@{/admin/delete_service_type/{id}(id=${t.id})}">stop offering</a>
			     </span></div>
    		</li>
    		<li>
    			<div  class="collapsible-header"><i class="material-icons">add</i>Add new</div>
    			<div class="collapsible-body"><span>
	    			<form  action="#" th:action="@{/admin/create_service_type}" th:object="${new_service_type}" method="post">
		      	
			      		<div><input type="text" th:field="*{name}"  	 	placeholder="name" /></div>
			      		<div><input type="number" th:field="*{duration}"  	placeholder="name" /></div>			      		
			      		<div><input class="btn red" type="submit" value="Submit" /></div>
		      		</form>
    			</span></div>
    			
    		</li>
    	</ul>	
      </div>
    </li>
</ul>
				
				
	</section>
</html>