<html layout:decorator="layout/base">
	<section layout:fragment="content">		
        <h2 th:text="${current_user.business.name}"></h2>


<ul class="collapsible popout" data-collapsible="expandable">
    <li>
      <div class="collapsible-header"><i class="material-icons">face</i>Users</div>
      <div class="collapsible-body amber accent-3">
	      <ul th:if="${! #sets.isEmpty(users)}" class="collapsible" data-collapsible="accordion">
			<li th:each="u : ${users}">
		      <div th:text="| ${u.username} ${u.role} |" class="collapsible-header"></div>
		      <div class="collapsible-body"><span>
		      	<a class="btn red" th:href="@{/admin/reset_pass_user/{id}(id=${u.id})}">reset password</a>
		      	<a class="btn red" th:href="@{/admin/delete_user/{id}(id=${u.id})}">delete</a>
		      	</span></div>
		    </li>
		    <li>
		   	 	<div class="collapsible-header"><i class="material-icons">add_circle</i>Add user</div>
		      	<div class="collapsible-body grey lighten-3">
		      		<form  action="#" th:action="@{/admin/createuser}" th:object="${user}" method="post">
			      		<div><input type="text" th:field="*{username}"  placeholder="email" /></div>
			      		
			      		<span class="" th:if="${#fields.hasErrors('username')}">
							<ul>
								<li class="chip red" th:each="err : ${#fields.errors('username')}" th:text="${err}">err</li>
							</ul>
						</span>
						
			      		<div>
			      			<input class="btn red" type="submit" value="Submit" />
			      			<a class="btn red" th:href="@{/admin/main}">cancel</a>
			      			
			      		</div>
		      		</form>
		      		
		      	</div>
		    </li>
		</ul>
      </div>
    </li>

 	<li>
      <div class="collapsible-header"><i class="material-icons">grain</i>Services</div>
      <div class="collapsible-body blue">
      	<ul  class="collapsible" data-collapsible="accordion">
			<li th:each="t : ${service_types}">
      			<div th:text="| ${t.name} ${t.duration} |" class="collapsible-header"></div>
			    <div class="collapsible-body"><span>
			    	
			      	<a class="btn red" th:href="@{/admin/edit_service_type/{id}(id=${t.id})}">edit</a>
			      	<a class="btn red" th:href="@{/admin/delete_service_type/{id}(id=${t.id})}">stop offering</a>
			     </span></div>
    		</li>
    		<li>
    			<div  class="collapsible-header"><i class="material-icons">add_circle</i>Add service</div>
    			<div class="collapsible-body grey lighten-3"><span>
	    		<form  action="#" th:action="@{/admin/create_service_type}" th:object="${service_type}" method="post">
		      		
			      	Service name
	
			      	<input type="hidden" th:field="*{id}" />
				    <div><input type="text" th:field="*{name}"  	 	placeholder="name" /></div>
	<!-- 			    <div><input type="number" th:field="*{duration}"  	placeholder="name" /></div>	
	 -->			  
		 				<div>
		 					<i class="material-icons prefix">swap_horiz</i>
		 					Duration (slide to adjust)
		 				</div>
					    <p class="range-field">
		      			<input type="range" th:field="*{duration}" id="minutes" min="1" max="480" />
		   				</p>
		   				
	     		
				    <div>
					    <input class="btn red" type="submit" value="Submit" />
					    <a class="btn red" th:href="@{/admin/main}">cancel</a>
				    </div>
				</form>
    			</span></div>
    			
    		</li>
    	</ul>	
      </div>
    </li>
</ul>
			
          	
				
	</section>
</html>