<html layout:decorator="client/layout/base">
	<section layout:fragment="content">
		
		<div class="row">
   			<div class="col s12">
      			<div class="card blue">
      			
      			 	 <div class="card-content white-text">
              			<span class="card-title"  th:text="|${service.name} providers:|" >Card Title</span>


			         </div>
			        <div class="card-content">
			          <p>
			          <ul class="collapsible" data-collapsible="accordion" >
					    <li th:each="p : ${providers}">
					      <div class="collapsible-header">
					      	<i class="material-icons">face</i>
					      	<span th:text="${p.username}" ></span>
					      </div>
					      <div class="collapsible-body">
					      	<a class="btn red" th:href="@{/client/book_provider/{pid}/{sid}(pid=${p.id}, sid=${service.id})}" 
					      		th:text="|book with ${p.username}|"></a>
						  </div>
					    </li>
					  </ul>
					  </p>
			        </div>
		
					  
				</div>
			</div>
		</div>
  
		
	</section>
</html>