<html layout:decorator="client/layout/base">
	<section layout:fragment="content">
		
		<div class="row">
   			<div class="col s12">
      			<div class="card blue">
      			
      			 	 <div class="card-content white-text">
              			<span class="card-title"  >Available time slots</span>
			         </div>
			        <div class="card-content">
			          <p>
			          <ul class="collapsible" data-collapsible="accordion" >
					    <li th:each="s : ${slots}">
					      <div class="collapsible-header">
					      	<i class="material-icons">schedule</i>
					      	<span th:text="${s.beginning}" ></span>
					      </div>
					      <div class="collapsible-body">

							<a class="btn red" th:href="@{/client/confirm_slot/{id} (id=${s.id})}">choose</a>
		
 						  </div>
					    </li>
					  </ul>
					  </p>
			        </div>
		
					  
				</div>
			</div>
		</div>
  
		
	</section>
</html>