<html layout:decorator="layout/base">
	<section layout:fragment="content">		
			
		<h2 th:text="${current_user.business.name}"></h2>



<ul class="collapsible popout">

	<li>
	<div class="collapsible-header active"><i class="material-icons">face</i>Appointments</div>
    <div class="collapsible-body amber accent-3">
    
   			<span class="chip green" th:if="${ #sets.isEmpty(appointments)}">
    					No appointments found, add workdays and services!
    		</span>
    		
    			<ul  class="collapsible" data-collapsible="accordion"  th:if="${! #sets.isEmpty(appointments)}">
    				
			    	<li  th:each="app : ${appointments}" >
			    		  <div
			    		  	class="collapsible-header"
			    			th:text="|
			    			${app.beginning.toLocalDate()} -
			    			${app.beginning.toLocalTime()} - 
			    			${app.service.name} 
			    			with 
			    			${app.clientName}
			    			(${app.clientEmail}) 
			    			verified?  ${ app.verified()? 'Yes' : 'No'}
			    			|"></div>
			    			
					      <div class="collapsible-body">
					      	<a class="btn red" th:href="@{/user/cancell_appointment/{id}(id=${app.id})}">cancel this appointment</a>
					      </div>
					</li>
				</ul>
    </div>
    </li>
    
    <li>
    <div class="collapsible-header"><i class="material-icons">date_range</i>Work Schedule</div>
    <div class="collapsible-body purple lighten-1">
    	<ul  class="collapsible" data-collapsible="accordion">
	    	<li th:each="wd : ${workdays}">
			      <div th:text="|${wd.getBeginning().getDayOfWeek()}, ${wd.beginning.toLocalDate()}  (${wd.beginning.toLocalTime()} - ${wd.end.toLocalTime()})|" 
			      class="collapsible-header"></div>
			      <div class="collapsible-body">
			      	<a class="btn red" th:href="@{/user/delete_workday/{id}(id=${wd.id})}">cancell</a>
			      </div>
			</li>
			<li>
		   	 	<div class="collapsible-header"><i class="material-icons">add_circle</i>Add day</div>
		      	<div class="collapsible-body grey lighten-3">
		      		<form  action="#" th:action="@{/user/create_workday}" th:object="${workday}" method="post">
			      		<div class="row">
			      			<div class="col s4">
					      		<input type="text" th:field="*{beginning}" placeholder="beginning" />
					      		
					      		<span class="" th:if="${#fields.hasErrors('beginning')}">
									<ul>
										<li class="chip red" th:each="err : ${#fields.errors('beginning')}" th:text="${err}">err</li>
									</ul>
								</span>
							</div>
							<div class="col s4">
								<input type="text" th:field="*{end}"  placeholder="end" />
								
					      		<span class="" th:if="${#fields.hasErrors('end')}">
									<ul>
										<li class="chip red" th:each="err : ${#fields.errors('end')}" th:text="${err}">err</li>
									</ul>
								</span>
							</div>
						
				      		<div class="col s4">
				      			<input class="btn green" type="submit" value="Add" />
				      			<a class="btn red" th:href="@{/user/main}">cancel</a>
				      			
				      		</div>
			      		</div>
		      		</form>
		      	</div>
		    </li>
    	</ul>
    
    </div>
    </li>
  
    
 	<li>
      <div class="collapsible-header"><i class="material-icons">grain</i>Services</div>
      <div class="collapsible-body blue">
      	<ul  class="collapsible" data-collapsible="accordion">
			<li th:each="t : ${current_user.servicesProvided}">
      			<div th:text="| ${t.name} ${t.duration} |" class="collapsible-header"></div>
			    <div class="collapsible-body"><span>
			    	
			      	<a class="btn red" th:href="@{/user/delete_service_type/{id}(id=${t.id})}">stop providing</a>
			     </span></div>
    		</li>
    		<li>
    			<div  class="collapsible-header"><i class="material-icons">add_circle</i>Add service</div>
    			<div class="collapsible-body grey lighten-3">
    				<span class="" th:each="t : ${current_user.business.servicesProvided}" >			
	    				<a class="btn blue" 
	    					th:if="${ ! current_user.servicesProvided.contains(t)}"
	    					th:href="@{/user/add_service/{id}(id=${t.id})}" 
	    					th:text="|Add ${t.name} (${t.duration} minutes)|">Add</a>	
    				</span>  				
    			</div>
    			
    		</li>
    	</ul>	
      </div>
    </li>
</ul>
			
          	
			
		
	<script type="text/javascript">
							$(function(){
								$('*[name=beginning]').appendDtpicker({"minuteInterval": 15, "futureOnly": true});
							});
				
							$(function(){
								$('*[name=end]').appendDtpicker({"minuteInterval": 15, "futureOnly": true});
							});
						</script>
				
	</section>
</html>