<!DOCTYPE HTML>
<html>
<head>
<div th:include="layout/style">style</div>
<title>please provide email and password</title>
</head>

<body>

	<div th:include="layout/message">messages</div>
	
	<br/>
	
	<div class="row">
		<div class="col s4 offset-s4">
			<div class="card cyan lighten-2">
				<div class="card-content white-text">
						<span class="card-title">We sent you your email verification link, please click the link in your inbox to continue. Check spam folder if link is not available</span>
				</div>

			</div>
		</div>
	</div>

</body>


</html>