<!DOCTYPE HTML>
<html>
<head>
<div th:include="layout/style">style</div>
<title>please provide email and password</title>
</head>

<body>

	<div th:include="layout/message">messages</div>
	
	<br/>
	
	<div class="row">
		<div class="col s4 offset-s4">
			<div class="card cyan lighten-2">
				<form action="#" th:action="@{/register}" th:object="${registration_request}" method="post">
					
					<div th:include="layout/errors">errors</div>
					
					<div class="card-content white-text">
						<span class="card-title">Please provide email and password:</span> 
						
						<input type="text" th:field="*{company}" placeholder="company name" /> 
						
						<span class="" th:if="${#fields.hasErrors('company')}">
							<ul>
								<li class="chip red" th:each="err : ${#fields.errors('company')}" th:text="${err}">err</li>
							</ul>
						</span>
						
						<input type="text" th:field="*{username}" placeholder="email" /> 
						
						<span class="" th:if="${#fields.hasErrors('username')}">
							<ul>
								<li class="chip red" th:each="err : ${#fields.errors('username')}" th:text="${err}">err</li>
							</ul>
						</span>
						
						
						<input type="password" th:field="*{password}" placeholder="password" />
						
						
						<span class="" th:if="${#fields.hasErrors('password')}">
							<ul>
								<li class="chip red" th:each="err : ${#fields.errors('password')}" th:text="${err}">err</li>
							</ul>
						</span>
					</div>


					<div class="card-action grey lighten-5">
						<input class="btn cyan lighten-2" type="submit" value="register" /> 
					</div>
				</form>
			</div>
		</div>
	</div>

</body>


</html>