<html layout:decorator="layout/base">
	<section layout:fragment="content">	
		
			<h1>Change password</h1>
			
    			<div class="">
    			
	    			<p>You will be signed out to test your new password.</p> 
    
					<form class="form-horizontal" action="#" th:action="@{/change_password}" th:object="${pass_request}" method="post">	
  					    
  					    
						<label>Old password</label>
						<input type="password" th:field="*{old}" />
						
							<span class="" th:if="${#fields.hasErrors('old')}">
								<ul>
									<li class="chip red" th:each="err : ${#fields.errors('old')}" th:text="${err}">err</li>
								</ul>
							</span>
					
						<label>New password</label>	
						<input type="password" th:field="*{new1}" />
						
							<span class="" th:if="${#fields.hasErrors('new1')}">
								<ul>
									<li class="chip red" th:each="err : ${#fields.errors('new1')}" th:text="${err}">err</li>
								</ul>
							</span>
									
						<label>Confirm new password</label>
						<input type="password" th:field="*{new2}"/>	  
						
							<span class="" th:if="${#fields.hasErrors('new2')}">
								<ul>
									<li class="chip red" th:each="err : ${#fields.errors('new2')}" th:text="${err}">err</li>
								</ul>
							</span>
				
						<input class="btn green"  type="submit" value="change" />
						<a class="btn red" th:href="@{/home}">cancel</a>
				        
				    </form>
			 </div>
    </section>
</html>